label{ font-size: 16px; }

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
select,
textarea{
    padding: 0 1rem;
    height: 45px;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
    width: 100%;

    background: #f7f7f7;
    border: 1px solid #dfdfdf;
    border-radius: 2px;

}

select{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border-radius: 2px;
    height: 45px !important;
    padding-right: 40px;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAPBAMAAACRhxtgAAAAHlBMVEX///+rq6vl5eXPz8/m5ub19fW1tbX4+Pjv7+/FxcVAw5gMAAAAbUlEQVQY02XOvQmAMBiE4Q9/BjgVwU43iLiAqWyt7C3cwCFs3dgkwh3i24TveIqYnfa2GCt3l968XbltqNM74uB2Ay4yoOPmgToxNNwyBBgZemNDgJFV6RKcyARBJkgmKCYopjz/pgrM9uv6XA8rMAoIG0PTbQAAAABJRU5ErkJggg==) no-repeat right center;
}

select:after{
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    color: #ababab;

}

select::-ms-expand {
    display: none;
}

textarea{
    padding: 1rem !important;
    height: 150px;
    border-radius: 2px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

/*
* Footer widgets
*/
.site-footer input[type="text"],
.site-footer input[type="email"],
.site-footer input[type="tel"],
.site-footer textarea{ color: #3e3e3e; }

/*
* Gravityform
*/
.gform_confirmation_message{ color: green; }

.gform_wrapper .gfield_radio li label,
.gform_wrapper .gfield_checkbox li label{ margin: 0 0 -4px 10px !important; }

.gform_wrapper input[type=text],
.gform_wrapper input[type=date],
.gform_wrapper input[type=datetime],
.gform_wrapper input[type=datetime-local],
.gform_wrapper input[type=email],
.gform_wrapper input[type=month],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper input[type=search],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=time],
.gform_wrapper input[type=url],
.gform_wrapper input[type=week],
.gform_wrapper select{
    padding: 0 1rem !important;
}

/*
* Mailchimp for WordPress
*/
.mc4wp-alert.mc4wp-success{
    margin-top: 1rem;
    color: green;
    font-size: 16px;
    padding: 1rem;
    border: 1px solid green;  
}

.mc4wp-alert.mc4wp-error{
    margin-top: 1rem;
    color: red;
    font-size: 16px;
    padding: 1rem;
    border: 1px solid red;  
}

.mc4wp-alert p{
    margin-bottom: 0;
}