.menu__wrap {
    top: 75px;
    overflow-x: hidden;
}

.menu__level {
    visibility: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar; // hide scroll bar on IE and EDGE
    width: calc(100% + 50px);
    height: 100%;
}

.menu__level--current {
    visibility: visible;
}

.menu__item {
    width: calc(100% - 50px);
    border-top: 2px solid #f4f3f3;
}

.menu__item:last-child {
    border-bottom: 2px solid #f4f3f3;
}

.menu__link {
    text-transform: none;
    height: 80px;
    min-height: 8.33333vh;
    text-decoration: none;
    transition: color .3s ease;
}

.menu__link:before {
    height: 100%;
    left: -.5rem;
    transition: left 0.1s cubic-bezier(0.86,0,0.07,1), opacity 0.1s ease;
    width: .5rem;
    position: absolute;
    content: "";
    top: 0;
    opacity: 0;
}

.menu__link:hover:before {
    left: 0;
    opacity: 1;
}

.menu__link:hover:before {
    left: 0;
    opacity: 1;
}

.menu__link span{
    -ms-flex: 1; 
    display: -ms-flexbox;
}

[class^='animate-'],
[class*=' animate-'] {
    visibility: visible;
}

.animate-outToRight .menu__item {
    -webkit-animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToRight {
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes outToRight {
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.animate-outToLeft .menu__item {
    -webkit-animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToLeft {
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes outToLeft {
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.animate-inFromLeft .menu__item {
    -webkit-animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes inFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate-inFromRight .menu__item {
    -webkit-animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes inFromRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.menu__breadcrumbs {
    height: 75px;
    font-size: 12px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}



.menu__breadcrumbs a:last-child {
    pointer-events: none;
    color: #3e3e3e;
    padding-right: 2rem;
}

.menu__breadcrumbs a:first-child:last-child {
    color: #fff;
}

.menu__breadcrumbs a:hover {
    color: #3a3a3a;
}

.menu__breadcrumbs a:not(:last-child)::after {
    content: '→';
    display: inline-block;
    padding: 0 0.5em;
    color: #33353e;
    //font-size: 10px;
}

.menu__breadcrumbs a:not(:last-child):hover::after {
    color: #3e3e3e;
}

.action-close {
    height: 75px;
    width: 20px;
    background-color: transparent;
}

@media screen and (max-width: 1199px) {
    
    .nav-container {
        z-index: 1000;
        top: 0;
        width: 100%;
        height: 100vh;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    
    .menu--open {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

}

.navigation-opened .site-content{
    -webkit-transform: translate(280px,0);
    -ms-transform: translate(280px,0);
    transform: translate(280px,0);
}

.site-content, .main-header, .nav-container {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.86,0,.07,1);
    transition: transform .3s cubic-bezier(.86,0,.07,1);
}

.navigation-opened {
    overflow-x: hidden;
}

.nav-container {
    top: 0;
    height: 100%;
    overflow-y: auto;
    position: fixed;
}

.site-logo{ 
    right: 25px;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    display: -ms-flexbox; 
    -ms-flex-align: center;
}

.main-nav {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: auto;
    height: 100%;
    z-index: 9;
    position: relative;
    text-align: left;
}

#main_nav_toggle{
    margin: 0 20px;
    width: 40px;
}

.main-header {
    height: 64px;
    z-index: 9;
    box-shadow: 0 0 10px rgba(33,33,33,0.25);
}

@include media-query(md) {
    .main-header {
        height: 86px;
    }
}

@include media-query(lg) {
    .navigation-opened {
        overflow: auto;
    }
}

@media (min-width: 1200px){

    .action-close {
        display: none;
    }

    .menu__wrap {
        top: 0;
        height: calc(100% - 225px);
        //overflow-y: scroll;
    }

    .menu__breadcrumbs {
        top: 0;
        z-index: 100;
        border-right: 2px solid #f4f3f3;
    }

    .menu__back{ display: block;}

    .site-content{
        padding: 0 0 0 230px;
    }

    .nav-container {
        top: auto;
        bottom: auto;
        margin-top: 200px;
        position: fixed;
        z-index: 9;
        width: 90%;
        max-width: 230px;
        overflow-y: visible;
    }

    .nav-container.multi_level {
        margin-top: 225px;
    }

    .nav-container.multi_level .menu__breadcrumbs{
        top: -75px;
    }

    .main-header {
        height: auto;
        border-right: 2px solid #f4f3f3;
        box-shadow: none;
    }

    .site-sidebar {
        width: 230px;
    }

    .site-logo{
        float: none;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 200px;
        position: static;
    }

    .navigation-opened .site-content{
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .menu__wrap {
        border-right: 2px solid #f4f3f3;
    }

    #main_nav_toggle{
        display: none;
    }
}

@include media-query(xlg) {
    .menu__wrap{ height: calc(100% - 275px); }
    //.menu__breadcrumbs{ display: flex;}
    .menu__back{ display: none;}

   .site-sidebar {
        width: 320px;
        max-width: 320px;
    }

    .site-content{
        padding: 0 0 0 320px;
    }

    #text-logo{
        padding-left: 1rem;
    }

    .nav-container {
        margin-top: 255px;
    }

    .site-logo {
        height: 255px;
    }

    .nav-container.multi_level {
        margin-top: 275px;
    }
}

.visible{ visibility: visible; }
