body{
    color: #3e3e3e;
    font-weight: 300;
    line-height: 1.6;
    font-size: 105%;
}

hr {
    background-color: transparent;
    border: 0;
    border-bottom: dotted 1px #d2d2d2;
    height: 1px;
    margin: 2rem 0;
}

ul ul, ol ol, ul ol, ol ul {
    margin: 1rem 0 1rem 0;
}

.system-font{ font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

.entry-title{
    font-weight: 100;
}

p,
.normal-weight{
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}

a{
	text-decoration: none;
	transition: border-color 0.2s ease, color 0.2s ease;
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 100;
}

.separator:after{
    height: 3px;
    width: 33%;
    max-width: 135px;
    content: "";
    display: block;
    margin-top: 25px;
}

.separator.alt:after{
    background-color: #fff;
}

.separator.seprarator-center:after{
    margin: 0 auto;
}

.small-p,
.textwidget{
    font-size: 16px;
}

.ultra-small{ font-size: 13px; }

.perf_btn,
.submit,
.gform_button,
input[type="submit"]{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    text-decoration: none;
    padding: 0.8rem 2.3rem;
    line-height: 1;
    background-color: transparent;
    transition: all .3s ease;
	touch-action: manipulation;	

    &:hover,
    &:focus{
        text-decoration: none;
        color: #fff;
    }
}

.perf_btn.alt{
    color: #fff;
    border-color: #fff;

    &:hover,
    &:focus{
        text-decoration: none;
        color: #3e3e3e;
        background-color: #fff;
        border-color: #fff;
    }
}

.perf_btn.alt2{
    color: #fff;

    &:hover,
    &:focus{
        text-decoration: none;
        background-color: #3e3e3e;
        border-color: #3e3e3e;
    }
}

.intro-text{
    font-size: 140%;
    margin-bottom: 3rem;
}

main table{
    width: 100%;
    border-top: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

main table td,
main table th{
    @extend .px2;
    @extend .py1;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    vertical-align: middle;
}

main table tr:nth-child(2n) td{
    background-color: #efefee;
}

main table th{ font-weight: 600; }

blockquote{
    font-style: italic;
    padding-left: 30px;
    border-left-width: 3px;
    border-left-style: solid;
    margin: 0 0 3rem 0;
}

blockquote cite{
    display: inline-block;
    margin-top: 10px;
    font-size: smaller;
}

pre{
    padding: 2rem;
    background-color: $dark-bg;
    overflow-x: scroll;
    border-radius: 3px;
    font-family: 'Source Code Pro',Menlo,monospace;
    font-size: 75%;
    font-weight: normal;
    color: #d0d4d7;
}

.perf_alert{
    padding: 2rem;
    background-color: #eee;
    border-left-width: 3px;
    border-left-style: solid;
}

.perf_warning{ border-left-color: #f39c12; }
.perf_info{ border-left-color: #3498db; }
.perf_danger{ border-left-color: #e74c3c; }
.perf_success{ border-left-color: #2ecc71; }

.entry-content h2:first-child{ margin-top: 0; }

.pull-right, 
.pull-left, 
.pull-excerpt {
    font-size: 110%;
    line-height: 1.5;
    background: #eef0f4;
}

@include media-query(md) {
    .pull-right{
        float: right;
        margin: 0 0 2% 5%;
        text-align: left;
        width: 32%;
        padding: 2rem;
    }

    .pull-left{
        float: left;
        margin: 0 5% 2% 0;
        text-align: left;
        width: 32%;
        padding: 2rem;
    }
}