.admin-bar .main-header {
  top: 46px;
}

.admin-bar .nav-container {
    top: 0;
    z-index: 999999;
}

@media screen and (min-width: 783px) {
    .admin-bar .main-header {
        top: 32px;
    }

    .admin-bar .nav-container {
        //top: 96px;
    }
}

@include media-query(md) {
    .admin-bar .nav-container {
        top: 0;
    }
}

@media (min-width: 1200px){
    .admin-bar .nav-container{
        margin-top: 180px;
        height: calc(100vh - 180px);
    }

    .admin-bar .main-header_container, 
    .admin-bar .site-logo{
        height: 223px;
    }
}

@media (min-width: 1650px){
    .admin-bar .nav-container{
        margin-top: 230px;
        height: calc(100vh - 230px);
    }

    .admin-bar .main-header_container, 
    .admin-bar .site-logo{
        height: 273px;
    }
}

#wpadminbar{ position: fixed !important; }