html{ box-sizing: border-box; }
*{ box-sizing: inherit; }
html{ font-family: sans-serif; }
body{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
 header, main, nav, section{ display: block; }
a{ background-color: transparent; }
h1{ font-size: 2em; margin-top: 0.67em; margin-right: 0px; margin-bottom: 0.67em; margin-left: 0px; }
img{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
button, input{ color: inherit; font: inherit; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
button{ overflow-x: visible; overflow-y: visible; }
button{ text-transform: none; }
button{ -webkit-appearance: button; cursor: pointer; }
input{ line-height: normal; }
input[type="search"]{ -webkit-appearance: textfield; box-sizing: content-box; }
body{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
img{ max-width: 100%; }
input{ font-family: inherit; font-size: 1rem; box-sizing: border-box; margin-top: 0px; margin-bottom: 0px; }
 input[type="search"]{ height: 2.25rem; padding-top: 0.5rem; padding-right: 0.5rem; padding-bottom: 0.5rem; padding-left: 0.5rem; vertical-align: middle; -webkit-appearance: none; }
body{ font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; line-height: 1.5; font-size: 100%; }
h1, h3{ font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-weight: bold; line-height: 1.25; margin-top: 1em; margin-bottom: 0.5em; }
p{ margin-top: 0px; margin-bottom: 2rem; }
 ul{ margin-top: 0px; margin-bottom: 2rem; }
h1{ font-size: 230%; }
h3, .h3{ font-size: 140%; }
 .h4{ font-size: 120%; }
.bold{ font-weight: bold; }
.caps{ text-transform: uppercase; letter-spacing: 0.2em; }
.list-reset{ list-style-type: none; list-style-position: initial; list-style-image: initial; padding-left: 0px; }
.block{ display: block; }
.table{ display: table; }
.table-cell{ display: table-cell; }
.overflow-hidden{ overflow-x: hidden; overflow-y: hidden; }
.clearfix::before, .clearfix::after{ content: ' '; display: table; }
.clearfix::after{ clear: both; }
.align-middle{ vertical-align: middle; }
.m0{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.mt0{ margin-top: 0px; }
.mt2{ margin-top: 2rem; }
.mr2{ margin-right: 2rem; }
.mb2{ margin-bottom: 2rem; }
.ml2{ margin-left: 2rem; }
.mb3{ margin-bottom: 4rem; }
.p0{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.py2{ padding-top: 2rem; padding-bottom: 2rem; }
.px2{ padding-left: 2rem; padding-right: 2rem; }
.py4{ padding-top: 6rem; padding-bottom: 6rem; }
.relative{ position: relative; }
.absolute{ position: absolute; }
.top-0{ top: 0px; }
.bottom-0{ bottom: 0px; }
.left-0{ left: 0px; }
.z1{ z-index: 1; }
.col-12{ width: 100%; }
@media (min-width: 52em){
.md-col{ float: left; box-sizing: border-box; }
.md-col-4{ width: 33.33333%; }
.md-col-5{ width: 41.66667%; }
.md-col-7{ width: 58.33333%; }
}
@media (min-width: 64em){
.lg-col-6{ width: 50%; }
}
 input[type="search"]{ border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: rgba(0, 0, 0, 0.121094); border-right-color: rgba(0, 0, 0, 0.121094); border-bottom-color: rgba(0, 0, 0, 0.121094); border-left-color: rgba(0, 0, 0, 0.121094); }
.border-none{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
.bg-white{ background-color: rgb(255, 255, 255); }
.bg-cover{ background-size: cover; }
.bg-center{ background-position: 50% 50%; }
@media (min-width: 64em){
.lg-mt0{ margin-top: 0px; }
.lg-mt3{ margin-top: 4rem; }
.lg-mb3{ margin-bottom: 4rem; }
}
@media (min-width: 52em){
.md-px3{ padding-left: 4rem; padding-right: 4rem; }
}
@media (min-width: 64em){
.lg-py3{ padding-top: 4rem; padding-bottom: 4rem; }
}
@media (min-width: 52em){
.md-table-cell{ display: table-cell; vertical-align: middle; }
}
.main-header{ width: 100%; overflow-x: hidden; overflow-y: hidden; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(244, 243, 243); }
.main-nav__toggle__icon{ margin-top: 20px; margin-right: 20px; margin-bottom: 20px; margin-left: 20px; width: 25px; }
.main-nav__toggle__line{ display: block; background-color: rgb(30, 30, 30); height: 2px; margin-bottom: 6px; -webkit-transition-property: -webkit-transform, opacity; -webkit-transition-duration: 0.6s, 0.3s; -webkit-transition-timing-function: initial, initial; -webkit-transition-delay: initial, initial; }
.site-content, .main-header, .nav-container{ -webkit-backface-visibility: hidden; -webkit-transition-property: -webkit-transform; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); -webkit-transition-delay: initial; }
.main-header{ background-color: rgb(255, 255, 255); display: block; left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; overflow-x: hidden; overflow-y: hidden; position: fixed; top: 0px; z-index: 10; width: 100%; }
.border-none{ border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
.outline-0{ outline-width: 0px; outline-style: initial; outline-color: initial; }
.nav-container{ top: 66px; -webkit-transform: translateX(-100%); bottom: 0px; color: rgb(254, 254, 254); position: fixed; z-index: 9; width: 90%; max-width: 280px; height: 100%; overflow-y: auto; box-shadow: rgb(222, 222, 222) 0px 3px 3px; }
.site-logo{ float: right; margin-right: 1rem; }
.main_nav_toggle{ left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; position: absolute; top: 0px; z-index: 1; height: 100%; }
.main-header{ display: table; }
.main-header_container{ display: table-cell; vertical-align: middle; }
#primary-menu > li{ }
#primary-menu li{ list-style-type: none; overflow-x: hidden; overflow-y: hidden; }
#primary-menu a{ font-size: 13px; font-weight: bold; text-transform: uppercase; height: 80px; display: table; width: 100%; text-decoration: none; color: rgb(62, 62, 62); border-top-width: 2px; border-top-style: solid; border-top-color: rgb(244, 243, 243); border-bottom-style: none; border-bottom-width: initial; border-bottom-color: initial; -webkit-font-smoothing: antialiased; overflow-x: hidden; overflow-y: hidden; position: relative; padding-right: 2rem; padding-left: 2rem; z-index: 3; }
#primary-menu a::before{ height: 100%; left: -0.5rem; width: 0.5rem; position: absolute; content: ''; top: 0px; opacity: 0; }
#primary-menu > li:first-child a{ border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
#primary-menu i{ font-size: 20px; }
#primary-menu i.fa{ display: table-cell !important; vertical-align: middle !important; }
#primary-menu li a span{ display: table-cell !important; vertical-align: middle !important; width: 100%; padding-right: 20px; }
.main-header{ height: 64px; }
.main-search{ padding-left: 1rem; padding-right: 3rem; border-top-width: 2px; border-top-style: solid; border-top-color: rgb(244, 243, 243); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(244, 243, 243); }
.main-search input[type="search"]{ font-size: 13px; padding-right: 1rem; height: 80px; color: rgb(62, 62, 62); box-sizing: border-box; letter-spacing: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
@media (min-width: 52em){
.main-header{ height: 86px; }
.nav-container{ top: 86px; }
}
@media (min-width: 64em){
#primary-menu li{ }
#primary-menu a, .main-search input[type="search"]{ }
}
@media (max-width: 1650px){
#primary-menu a{ padding-left: 2rem; }
}
@media (min-width: 1650px){
#primary-menu a{ padding-left: 3rem; }
.main-search{ padding-left: 2rem; }
}
@media (min-width: 1200px){
.site-content{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 230px; }
.nav-container{ background-color: rgb(255, 255, 255); top: auto; bottom: auto; overflow-x: visible; overflow-y: visible; -webkit-transform: translate(0px, 0px); -webkit-transition-property: none; -webkit-transition-duration: initial; -webkit-transition-timing-function: initial; -webkit-transition-delay: initial; }
.main_nav_toggle{ display: none; }
.main-header{ background-color: rgb(255, 255, 255); left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; overflow-x: hidden; overflow-y: hidden; position: fixed; top: 0px; z-index: 10; height: auto; }
.site-sidebar{ width: 230px; }
.main-header_container{ height: 100px; }
.site-logo{ float: none; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-left: 2rem; padding-right: 2rem; }
#primary-menu li{ overflow-x: visible; overflow-y: visible; }
}
@media (min-width: 1650px){
.site-sidebar{ width: 320px; max-width: 320px; }
.site-content{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 320px; }
}
.lazyloaded{ opacity: 1; }
img{ height: auto; }
.accessibility{ position: absolute !important; height: 1px; width: 1px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; clip: rect(0px 0px 0px 0px); }
body{ font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; color: rgb(62, 62, 62); }
h1, h3, .h3, .h4, #primary a{ -webkit-font-smoothing: antialiased; }
a{ text-decoration: none; border-bottom-style: solid; border-bottom-width: 0.08em; border-bottom-color: transparent; }
.separator::after{ height: 3px; width: 33%; max-width: 135px; content: ''; display: block; margin-top: 25px; }
.small-p{ font-size: 16px; }
.perf_btn{ display: inline-block; font-size: 14px; font-weight: bold; text-transform: uppercase; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; text-decoration: none; padding-top: 0.8rem; padding-right: 2.3rem; padding-bottom: 0.8rem; padding-left: 2.3rem; line-height: 1; background-color: transparent; -webkit-font-smoothing: antialiased; }
 input[type="search"]{ padding-top: 0px !important; padding-right: 1rem !important; padding-bottom: 0px !important; padding-left: 1rem !important; height: 45px; box-sizing: border-box; width: 100%; }
.dark-bg{ background-color: rgb(30, 30, 30); }
.alt-dark-bg{ background-color: rgb(44, 44, 44); }
.white-color{ color: rgb(255, 255, 255); }
body{ }
#logo{ display: block; width: 140px; height: 50px; background-size: contain; background-position: 100% 50%; background-repeat: no-repeat no-repeat; }
.front-hero{ min-height: 360px; }
.front-hero-content{ min-height: 300px; }
.thumb_section1{ height: 360px; }
@media (min-width: 52em){
.front-hero, .front-hero-content{ min-height: 350px; }
.section1{ min-height: 200px; }
}
body{ padding-top: 64px; }
.site-content{ min-height: 100%; }
.neg_bm1{ margin-bottom: -2rem; }
#perf-main-hero{ z-index: -999998; height: 100%; opacity: 0.8; }
.home #perf-main-hero{ opacity: 1; }
@media (min-width: 52em){
body{ padding-top: 86px; }
.md-table-cell{ display: table-cell; }
}
@media (min-width: 64em){
body{ font-size: 105%; }
.section2_box{ display: table-cell; }
.section2{ min-height: 600px; }
#logo{ width: 180px; }
}
@media (min-width: 1200px){
body{ padding-top: 0px; font-size: 110%; }
#logo{ width: 100%; height: 80px; background-position: 50% 50%; }
}
@media (min-width: 1650px){
body{ font-size: 130%; }
}
@media print{
body{ color: rgb(0, 0, 0) !important; padding-top: 0px !important; padding-right: 0px !important; padding-bottom: 0px !important; padding-left: 0px !important; }
body *{ color: rgb(0, 0, 0) !important; display: block !important; }
.hide-print{ display: none !important; }
#main{ width: 100%; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; float: none; }
.front-hero-content, .section2{ padding-top: 0px !important; padding-right: 0px !important; padding-bottom: 0px !important; padding-left: 0px !important; min-height: 1px !important; color: rgb(0, 0, 0) !important; }
.thumb_section1{ height: auto !important; }
.section1 h3{ padding-top: 0px !important; padding-right: 0px !important; padding-bottom: 0px !important; padding-left: 0px !important; }
}